<%-include('../../shared/includes/head', { pageTitle: 'All-Orders'})%>

<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/orders.css">


</head>
<body>
    <%-include('../../shared/includes/header')%>
    <main>
        <h1>All Your Orders</h1>
        
        <%-include('../../shared/includes/order-list',{orders:orders}) %>

</body>