<%-include('../../shared/includes/head', { pageTitle: 'Failure'})%>

<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/orders.css">


</head>
<body>
    <%-include('../../shared/includes/header')%>
    <main>
        <h1>Failure</h1>
        
    </main>
</body>