<%-include('../../shared/includes/head', { pageTitle: 'Success'})%>

<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">

</head>
<body>
    <%-include('../../shared/includes/header')%>
    <main>
        <h1>Sucess</h1>
    
    </main>

</body>