*{
    box-sizing: border-box;
}
html{
    font-family: serif;

    --color-green-1: #93e4c1;
    --color-green-2: #3baea0;
    --color-green-3: #118a7e;
    --color-green-4: #1f6f78;
    --color-black: black
    ;


}

body{
    background-color: var(--color-green-4);
    /* color: var(--color-green-1); */
    margin: 0;
}
main{
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
}
h1{
    text-align: center;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--color-black);
}
form{
    max-width: 25rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: #118a7e;
    border-radius: 2px 4px 8px;
}

form hr {
    border-color: rgb(255, 255, 255);
}
form a:hover{
    color: orange;
}

label{
    color: black;
    display: block;
    margin-bottom: 10px;
}
input{
    width: 90%;
    border: solid 1px;
    border-radius: 2px;
}
.btn{
    border: solid 1px;
    padding: 5px;
}
.btn:hover{
    background-color: rgb(255, 160, 17);
}
#image-upload-control{
    display:flex;
    align-items: center;
}
#image-upload-control input{
    max-width: 15rem;
}
#image-upload-control img{
    display: none;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: var(--border-radius-small);
}